header.head {
    .container {
        height: 768px;
        max-height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        .container_slider {
            width: 300%;
            height: 100%;
            @include row();
            position: absolute;
            top: 0;
            left: -200%;
            transition: left 500ms, opacity 500ms;
            .container_slider_bg {
                width: 33.33%;
                height: 100%;
                background-position: center;
                background-size: cover;
                &:nth-of-type(1) {
                    background-image: url('../../media/foto-a.jpg');
                }
                &:nth-of-type(2) {
                    background-image: url('../../media/foto-b.jpg')
                }
                &:nth-of-type(3) {
                    background-image: url('../../media/foto-c.jpg')
                }
            }
        }
        .container_clipper {
            @include shadow-nav();
            position: absolute;
            clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
            top: 0;
            left: 0;
            width: 70%;
            height: 768px;
            max-height: 100vh;
            background-color: $yellow;
            overflow: hidden;
            @media screen and (max-width: 1000px) {
                width: 100%;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                &:after {
                    display: none;
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: black;
                opacity: 0.2;
                clip-path: polygon(69.9% 0, 70% 0, 100% 100%, 99.9% 100%);
            }
        }
      
        .container_content_item.item-logotype {
            width: 200px;
            height: 200px;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;
            //border: solid 1px white;
            border-radius: 5px;
            @include shadow-nav();
            transition: all 500ms;
            @media screen and (max-width: 1000px) {
                left: 10%;
                transform: translate(5px, 100px);
                width: 150px;
                height: 150px;
            }
            @media screen and (max-width:600px) {
                left: 5%;
                transform: translate(15px, 100px);
            }
            animation: fadein 3000ms ease;
            animation-delay: 200ms;
            animation-fill-mode: forwards;
            &:hover {
                opacity: 1;
                width:210px;
                height: 210px;
            }
            @keyframes fadein {
                from {
                    opacity: 0;
                }
                70%{
                    opacity: 1;
                }
                to {
                    opacity: 0.8;
                }
            }
        }
        .container_content_item.item-txtmodule {
            width: 25%;
            min-width: 400px;
            height: 90%;
            top: 5%;
            left: 5%;
            @media screen and (max-width: 1000px) {
                width: 90%;
                height: 90%;
                top: 0;
                min-width: 0;
            }
            position: absolute;
            h1 {
                color: white;
                margin: 0;
                padding: 135px 0 0 0;
                font-family: $sans;
                font-weight: 400!important;
                font-size: 2.4rem;
                letter-spacing: 0.2rem;
            }
            ul {
                color: white;
                font-size: 2rem;
                font-family: $sans;
                position: absolute;
                left: 0;
                width: 70%;
                list-style-position: inside;
                //color: $yellow;
                bottom: 100px;
                //padding: 5%;
                list-style: none;
                //padding: 0;
                margin: 0;
                li {
                    //color: $yellow;
                    margin: 0;
                    padding-left: 2%;
                    width: 100%;
                    border-radius: 5px;
                   color: white;
                   font-weight: 200;
                   letter-spacing: 0.1rem;
                   font-size: 1.4rem;
                    position: relative;
                    .dotinli {
                        width: 7px;
                        height: 7px;
                        border-radius: 7px;
                        position: absolute;
                        background-color: white;
                        left: -15%;
                        top: 50%;
                        transform: translate(0,-50%);
                        z-index: 5;
                    }
                    span {
                        color: white;
                    }
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.1);
                        cursor: pointer;
                        opacity: 0.9
                    }
                }
                li+li {
                    margin-top: 10px;
                }
            }
            .container_content_item.txtmodule-btn {
                width: 70%;
                @include row();
                letter-spacing: 0.2rem;
                cursor: pointer;
                @include user-select();
                position: absolute;
                font-weight: bold;
                font-family: $sans;
                text-transform: capitalize;
                font-size: 1.1rem;
                left: 0;
                bottom: 0;
                padding: 20px 0;
                @include shadow-nav();
                background-color: $yellow;
                color: white;
                border-radius: 5px;
                &:hover {
                    background-color: white;
                    color: $yellow;
                }
            }
        }
        .container_content_item.item-slideswitcher {
            position: absolute;
            bottom: 5%;
            right: 5%;
            //transform: translate(0, 100px);
            width: 100px;
            @include row(space-between);
            .container_content_item_slide-btn {
                width: 30px;
                height: 30px;
                border: solid 1px white;
                background-color: $yellow;
                border-radius: 30px;
                opacity: 0.7;
                &:hover {
                    border: solid 1px $yellow;
                    background-color: white;
                    cursor: pointer;
                }
                &.itIsChecked {
                    border: solid 1px $yellow;
                    background-color: white;
                    cursor: pointer;
                }
            }
            @media only screen and (max-width: 1000px) {
                display: none;
            }
        }
        .container_content_item.item-downlink {
            width: 20px;
            height: 40px;
            border-radius: 30px;
            position: absolute;
            bottom: 3%;
            left: 50%;
            transform: translate(-50%, -20px);
            border: solid 2px white;
            background-color: rgba(255, 149, 0, 0.4);
            @include col(space-between);
            padding-top: 10px;
            .item-downlink_dot {
                border: solid 3px white;
                border-radius: 10px;
                width: 0;
                height: 0;
                transition: all 500ms;
            }
            .item-downlink_angle {
                border-bottom: solid 3px white;
                border-right: solid 3px white;
                border-radius: 0 0 3px 0;
                width: 12px;
                height: 12px;
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translate(-50%, 0) rotate(45deg);
                animation: shake 3000ms infinite;
            }
            @media only screen and (max-width: 1000px) {
                display: none;
            }
            &.second-zip {
                position: absolute;
                left: 80%;
                cursor: pointer;
                &:hover {
                    .item-downlink_dot {
                        border: solid 3px white;
                        border-radius: 10px;
                        width: 0;
                        height: 0;
                        transform: translate(0,10px)
                    }
                }
            }
        }
    }
}

@keyframes shake {
    from {
        bottom: -20px;
    }
    20% {
        bottom: -10px;
    }
    35% {
        bottom: -20px;
    }
}

.sn1 {
    width: 100%;
    @include col (flex-start,
    center);
}

.sn1_maintitle {
    letter-spacing: 0.1rem;
    color: $yellow;
    font-weight: bold;
    font-family: $sans;
}
.lettere {
    color: $yellow;
}
.letterl {
    color: #56a595;
}
.letterb {
    color: #1f0d82;
}
.letteri {
    color: #fec600;
}

.sn1_podajdalej {
    width: 35%;
    line-height: 200%;
    .capitalizethis {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: $yellow;
        font-family: $sans;
    }
    @media screen and (max-width: 1000px) {
        width: 45%;
    }
    @media screen and (max-width:700px) {
        width: 90%;
    }
}

.sn1_secondtitle {
    color: black;
}

.sn1_slider {
    width: 90%;
    height: 200px;
    overflow-x: hidden;
    @include row(center);
    position: relative;
    .sn1_slider-btn.left-angle {
        width: 20px;
        height: 100%;
        border-radius: 20px 0 0 20px;
        position: absolute;
        top: 0;
        left: 0;
        @include row(center);
        cursor: pointer;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.1);
        transition: background-color 1200ms, color 1200ms;
        color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .sn1_slider-wrapper {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: left 200ms;
        width: 300%;
        height: 100%;
        @include row(center);
        background-color: white;
        .sn1_slider-gallery {
            width: 100%;
            height: 100%;
            @include row(space-around);
            .sn1_slider-wraper_item {
                width: 170px;
                height: 170px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.4);
                color: rgba(255, 255, 255, 0.7);
                @include row();
            }
        }
    }
    .sn1_slider-btn.right-angle {
        z-index: 1;
        width: 20px;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border-radius: 0 20px 20px 0;
        background-color: rgba(0, 0, 0, 0.1);
        @include row(center);
        transition: background-color 1200ms, color 1200ms;
        color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
            color: rgba(255, 255, 255, 0.7);
        }
    }
}

.sn1_slider-dots {
    width: 100px;
    margin: 30px auto;
    @include row();
    .sn1_slider-dot {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background-color: $yellow;
        border: 1px solid $gray;
        cursor: pointer;
        margin: 0 5px;
        &:hover {
            border: $yellow 1px solid;
            background-color: $gray;
        }
    }
}

.sn1_middle-bg {
    width: 100%;
    padding-top: 25%;
    background-image: url('../../media/foto-a.jpg');
    background-position: center;
    background-size: cover;
}

.sn1_mission_positioner {
    width: 80%;
    margin-top: -12vw;
    @media screen and (max-width: 1000px) {
        width: 95%;
    }
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 6px;
    @media screen and (max-width: 1000px) {
        grid-template-rows: auto auto auto;
        grid-template-columns: 100%;
    }
    .sn1_mission_container {
        border: solid 1px $gray;
        border-radius: 7px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 4fr;
        grid-row-gap: 3px;
        grid-column-gap: 3px;
        padding: 5%;
        background-color: rgba(255, 255, 255, 0.9);
        h3,
        i {
            @include row();
        }
        h3 {
            color: $yellow;
            font-family: $sans;
            letter-spacing: 0.1rem;
        }
        p {
            line-height: 200%;
        }
    }
}

.sn2 {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 2fr 10fr;
    grid-template-columns: 2fr 2fr 2fr;
    .sn2_angle {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        @include row();
    }
    h2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        color: $yellow;
        text-align: center;
    }
    .sn2_container {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 2fr 5fr 1fr;
        grid-row-gap: 1px;
        padding: 5% 5% 0 5%;
        border: solid 1px $gray;
        background-color: white;
        line-height: 200%;
        h3 {
            text-align: left;
            color: gray;
            width: 100%;
        }
        .sn2_container_btn {
            background-color: $yellow;
            color: white;
            border-radius: 5px;
            @include row();
            cursor: pointer;
            &:hover {
                background-color: rgba(255, 255, 255, 0.7);
                color: $yellow;
                border: $yellow 1px solid;
            }
        }
    }
}

.sn2_searching-area {
    margin-top: 100px;
    width: 100%;
    @include col();
    padding: 100px 0;
    background-color: white;
    h3 {
        margin: 20px auto;
    }
    .switch-search-description {
        margin: 10px auto;
        width: 400px;
        @include row(space-between);
        color: gray;
        font-family: $sans;
        .firstdescribe,
        .seconddescribe,
        .thirddescribe {
            cursor: pointer;
            &:hover {
                color: $yellow;
            }
        }
    }
    .switch-search {
        width: 400px;
        margin: 0 auto;
        position: relative;
        height: 20px;
        .switch-search-ruler {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: 100%;
            height: 5px;
            border-radius: 10px;
            background-color: gray;
        }
        .switch-search-marker {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            color: white;
            background-color: $yellow;
            border-radius: 40px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            @include row();
            &.firstState {
                left: 5%;
            }
            &.secondState {
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &.thirdState {
                right: 5%;
            }
        }
    }
}