$serif: 'Roboto Slab',
serif;
$sans: 'Roboto',
sans-serif;

//main colors
$white: #ffffff;
$yellow: rgb(255, 149, 0);
//bg colors
$white-yellow: #fff4e1;
//font-colors:
$black-yellow: #0f0a00;
$gray: rgb(216, 200, 172);
//colors
$gray-yellow: #d3cbbe;

/***********************/

$orange: rgb(255, 148, 0);
$orange-b: rgba(255, 148, 0, 0.75);
$gray-a: #e8e8e8;
$gray-b: #616161;
$gray-v: #3d3d3d;
$blue-sky: #56a595;
$blue-water: #1f0d82;
//$yellow: #fec600;
$black: rgb(30, 30, 50);

