$serif: 'Roboto Slab',
serif;
$sans: 'Roboto',
sans-serif;

//main colors
$white: #ffffff;
$yellow: #fea200;
//bg colors
$white-yellow: #ffe9c4;
//font-colors:
$black-yellow: #301f00;
$gray: gray;
//colors
$gray-yellow: #d3cbbe;